.root {
    margin: 0 auto;
    max-width: 980px;
    border: 2px solid #fdcc07;
    border-radius: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #3a5d9f;
}
h2 {
    font-size: 15px;
    color: #fdcc07;
    text-transform: capitalize;
}
h1 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -15px;
}
.logo{
    text-align: center;
    padding: 20px;;
}
.logo img{
    width: 200px;
}
.pokemoncontainer {
    display: flex;
}
.selectbox {
    padding: 0 20px;
    flex-shrink: 1;
}
.selectbox input {
    padding: 10px;
    border-radius: 5px;
    border-color: #3a5d9f;
}
.list ul {
    list-style-type: none;
    padding-left: 0px;
    height: 330px;
    overflow-y: scroll;
}
.list ul::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.list ul li {
    text-transform: capitalize;
    padding: 5px;
    text-align: center;
    margin: 5px 0;
    background-color: #c1c8ca;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.list ul li:hover,
.list ul li.selectboxed {
    background-color: #3a5d9f;
    color: #fdcc07;
}
.statcontainer{
    flex-grow: 1;
}
.statimage {
    text-align: center;
}
.statimage img{
    width: 150px;;
}
.stattypes{
    text-align: center;
}
.stattypes span{
    text-align: center;
    padding: 3px 10px;
    margin: 3px;
    font-size: 0.8em;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    color:white;
}
.pokemonspecs {
    color: #3a5d9f;
    font-weight: bold;
}

.detail {
    padding: 0 20px;
    flex-grow: 1;
}

.moves {
    color: #3a5d9f;
    font-weight: bold;
    display: flex;
  }
  .moves > div {
    margin: 0 20px;
    min-width: 180px;
  }
  .moves div:first-child {
    text-align: center;
  }
  .moves span.learnmethods {
    color: white;
    background-color: #c1c8ca;
    padding: 0px 10px;
    margin-bottom: 3px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
  }
  .moves span.learnmethods:hover,
  .moves span.learnmethodselected {
    color: #fdcc07;
    background-color: #3a5d9f;
    padding: 0px 10px;
    margin-bottom: 3px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
  }
  .moves span {
    cursor: pointer;
    padding: 2px 10px;
    font-size: 0.7em;
    text-transform: uppercase;
  }
  .moves span:hover {
    background-color: #fdcc07;
  }
  span.method{
    display: block;
    width: 100%;
    font-size:1.2em;
    font-weight:bold;
  }

  .pokemonspecs span {
    padding: 10px;
    margin-bottom: 3px;
  }
  .pokemonspecs span.name {
    text-transform: capitalize;
    flex-grow: 1;
  }
  .pokemonspecs span.value {
    background: #fdcc07;
    text-align: center;
    min-width: 15%;
    flex-shrink: 1;
  } 
  .pokemonspecs div.stats {
    border: 1px solid #fdcc07;
    padding: 10px 5px;
    border-radius: 5px;
    width: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .pokemonspecs div.stats > div{
    display: flex;
    flex-wrap: wrap;
    flex-basis:49%;
  }
  